<!DOCTYPE html>

<script src= "/javascripts/main.js"></script>
<link rel="stylesheet" href="./stylesheets/main.css">

<html>
<head>
    <meta charset = "UTF-8">
    <title>   Wiz Show Control  </title>
</head>

<body>
    <div id ="topline">

    </div>
    <div id="header">
        <div id = 'copyright'>
            V 0.1 &nbsp (C) 2020 Wiz Computing
        </div>


        <div id="name">
            <img id="logo" src = "/images/logo.png" >
            <p id = projectName>  P & S Theater Control </p>
        </div>

        <div id = "bottomline">

        </div>
    </div>
    <!--  This is the main page   -->

    <div id= "main">
        <div id = "theater">
            <h1>This is the theater</h1>
        </div>


        <div class="mainDivs" id = "denon">
            <div class = 'heading'>This is Denon</div>
            <button class = 'denon device' id="denonPower" onClick = "denonButton('denonPower')">Power</button>
            <br>
            <button class = 'denonInput  buttonGroup' id="denonInputBluray" name = "denoninputGroup" onClick = "denonButton('denonInputBluray')">Blu-Ray</button>
            <button class = 'denonInput buttonGroup' id="denonInputDVD" name = "denoninputGroup" onClick = "denonButton('denonInputDVD')">DVD</button>
            <button class = 'denonInput buttonGroup' id="denonInputTV" name = "denoninputGroup" onClick = "denonButton('denonInputTV')">TV</button>
            <br>
            <button class = 'denon  device  ' id="denonZone3Off" onClick = "denonButton('denonZone3Off')">Zone 3 OFF</button>
            <button class = 'denon  device  ' id="denonZone2Off" onClick = "denonButton('denonZone2Off')">Zone 2 OFF</button>
            <br>
            <button class = 'denon   volume' id="denonVolumeDown" onClick = "denonButton('denonVolumeDown')">Volume -</button>
            <button class = 'denon   volume' id="denonVolumeUp" onClick = "denonButton('denonVolumeUp')">Volume +</button>

        </div>


        <div class="mainDivs" id = "oppo">
            <div class = 'heading'>This is oppo</div>
            <button class = 'oppo device' id="oppoPower" onClick = "oppoButton('oppoPower')">Power</button>
            <br>
            <button class = 'oppoInput buttonGroup' id="oppoInputHdmi" name = "oppoinputGroup" onClick = "oppoButton('oppoInputHdmi')">HDMI</button>
            <button class = 'oppoInput buttonGroup' id="oppoInputBluray" name = "oppoinputGroup" onClick = "oppoButton('oppoInputBluray')">Blu-Ray</button>
        </div>
        <div class="mainDivs" id = "jvc">
            <div class = 'heading'>This is jvc</div>
            <button class = 'jvc device' id="jvcPower" onClick = "jvcButton('jvcPower')">Power</button>
            <br><br>
            <button class = 'jvcLens buttonGroup' id="jvcLensMemory1" name = "lensGroup" onClick = "jvcButton('jvcLensMemory1')">Wide Screen</button>
            <button class = 'jvcLens buttonGroup' id="jvcLensMemory2" name = "lensGroup" onClick = "jvcButton('jvcLensMemory2')">Normal</button>
            <button class = 'jvcLens buttonGroup' id="jvcLensMemory3" name = "lensGroup" onClick = "jvcButton('jvcLensMemory3')">Other 1</button>
            <button class = 'jvcLens buttonGroup' id="jvcLensMemory4" name = "lensGroup" onClick = "jvcButton('jvcLensMemory4')">Other 2</button>
            <br>
            <button class = 'jvcMode buttonGroup' id="jvcPictureMode1" name = "modeGroup" onClick = "jvcButton('jvcPictureMode1')">Standard</button>
            <button class = 'jvcMode buttonGroup' id="jvcPictureMode3" name = "modeGroup" onClick = "jvcButton('jvcPictureMode3')">HDR</button>
            <button class = 'jvcMode buttonGroup' id="jvcPictureMode4" name = "modeGroup" onClick = "jvcButton('jvcPictureMode4')">HDR Converted</button>
            <button class = 'jvcMode buttonGroup' id="jvcPictureMode2" name = "modeGroup" onClick = "jvcButton('jvcPictureMode2')">B&W</button>

            <br>
            <button class = 'jvcCmd buttonGroup' id="jvcCMD1" name = "cmdGroup" onClick = "jvcButton('jvcCMD1')">CMD 1</button>
            <button class = 'jvcCmd buttonGroup' id="jvcCMD2" name = "cmdGroup" onClick = "jvcButton('jvcCMD2')">CMD 2</button>
            <button class = 'jvcCmd buttonGroup' id="jvcCMD3" name = "cmdGroup" onClick = "jvcButton('jvcCMD3')">CMD D</button>
            <button class = 'jvcCmd buttonGroup' id="jvcPowerStatus" name = "cmdGroup" onClick = "jvcButton('jvcPowerStatus')">PWR STATUS</button>
        </div>
        <div class="mainDivs" id = "curtain">
            <div class = 'heading'> Curtain</div>
            <button class = 'curtain buttonGroup' id="curtainStop" name = "curtainGroup" onClick = "curtainButton('curtainStop')">STOP</button>
            <button class = 'curtain buttonGroup' id="curtain235" name = "curtainGroup" onClick = "curtainButton('curtain235')">2.35</button>
            <button class = 'curtain buttonGroup' id="curtain16_9" name = "curtainGroup" onClick = "curtainButton('curtain16_9')">16x9</button>
            <button class = 'curtain buttonGroup' id="curtain4_3" name = "curtainGroup" onClick = "curtainButton('curtain4_3')">4x3</button>
            <button class = 'curtain buttonGroup' id="curtainClose" name = "curtainGroup" onClick = "curtainButton('curtainClose')">CLOSE</button>
        </div>
        <div class="mainDivs" id = "lights">
            <div class = 'heading'> RGB Lights</div>
            <button class = 'lights buttonGroup' id="lightsOff" name = "lightGroup" onClick = "lightsButton('lightsOff')">OFF</button>
            <button class = 'lights buttonGroup' id="lightsOn" name = "lightGroup" onClick = "lightsButton('lightsOn')">ON</button>
            <button class = 'lights buttonGroup' id="lightsPause" name = "lightGroup" onClick = "lightsButton('lightsPause')">PAUSE</button>

        </div>

    </div>


</body>
</html>