<!DOCTYPE html>

<script src= "/javascripts/main.js"></script>
<link rel="stylesheet" href="./stylesheets/main.css">

<html>
<head>
    <meta charset = "UTF-8">
    <title>   Wiz Show Control  </title>
</head>

<body>
    <div id ="topline">

    </div>
    <div id="header">
        <div id = 'copyright'>
            V 0.1 &nbsp (C) 2020 Wiz Computing
        </div>


        <div id="name">
            <img id="logo" src = "/images/logo.png" >
            <p id = projectName>  P & S Theater Control </p>
        </div>

        <div id = "bottomline">

        </div>
    </div>
    <!--  This is the main page   -->

    <div id= "main">
        <div class="mainDivs" id = "denon">
        <h2>This is Dennon</h2>
        </div>
        <div class="mainDivs" id = "oppo">
            <h2>This is oppo</h2>
        </div>
        <div class="mainDivs" id = "jvc">
            <h2>This is jvc</h2>
        </div>
        <div class="mainDivs" id = "curtain">
            <h2>This is curtain</h2>
        </div>
        <div class="mainDivs" id = "lights">
            <h2>This is lights</h2>
        </div>
        <div id = "theater">
            <h1>This is the theater</h1>
        </div>

    </div>






    <label for="jvc">Choose a Command:</label>
    <select name="jvc" id="jvc1">
        <option value="[0x3f,0x89,0x01,0x50,0x57,0x0a]">ON</option>
        <option value="saab">OFF</option>
        <option value="opel">Power Status</option>
        <option value="audi">Other</option>
    </select>

    <button id="jvc" onclick = "jvcClick()" >JVC GO</button>

    <label for="denon">Choose a Command:</label>
    <select name="denon" id="denon">
        <option value="[0x3f,0x89,0x01,0x50,0x57,0x0a]">ON</option>
        <option value="saab">OFF</option>
        <option value="opel">Power Status</option>
        <option value="audi">Other</option>
    </select>

    <input type="button" value="Denon GO">

    <label for="oppo">Choose a Command:</label>
    <select name="oppo" id="oppo">
        <option value="[0x3f,0x89,0x01,0x50,0x57,0x0a]">ON</option>
        <option value="saab">OFF</option>
        <option value="opel">Power Status</option>
        <option value="audi">Other</option>
    </select>

    <input type="button" value="OPPO GO">
</body>
</html>