<!DOCTYPE html>

<script src= "/javascripts/main.js"></script>
<link rel="stylesheet" href="./stylesheets/main.css">

<html>
<head>
    <meta charset = "UTF-8">
    <title>   Wiz Show Control  </title>
</head>

<body>
    <div id ="topline">

    </div>
    <div id="header">
        <div id = 'copyright'>
            V 0.1 &nbsp (C) 2020 Wiz Computing
        </div>


        <div id="name">
            <img id="logo" src = "/images/logo.png" >
            <p id = projectName>  P & S Theater Control </p>
        </div>

        <div id = "bottomline">

        </div>
    </div>
    <!--  This is the main page   -->

    <div id= "main">
        <div id = "theater">
            <h1>This is the theater</h1>
        </div>


        <div class="mainDivs" id = "denon">
            <div class = 'heading'>This is Denon</div>
            <button class = 'denon' id="denonPowerOn" onClick = "denonButton('denonPowerOn')">Power ON</button>
            <button class = 'denon' id="denonPowerOff" onClick = "denonButton('denonPowerOff')">Power OFF</button>
            <br>
            <button class = 'curtain' id="denonInputBluray" onClick = "denonButton('denonInputBluray')">Blu-Ray</button>
            <button class = 'curtain' id="denonInputDVD" onClick = "denonButton('denonInputDVD')">DVD</button>
            <button class = 'curtain' id="denonZone3Off" onClick = "denonButton('denonZone3Off')">Zone 3 OFF</button>
            <button class = 'curtain' id="denonZone2Off" onClick = "denonButton('denonZone2Off')">Zone 2 OFF</button>
            <br>
            <button class = 'denon' id="denonVolumeUp" onClick = "denonButton('denonVolumeUp')">Volume +</button>
            <button class = 'denon' id="denonVolumeDown" onClick = "denonButton('denonVolumeDown')">Volume -</button>
        </div>


        <div class="mainDivs" id = "oppo">
            <div class = 'heading'>This is oppo</div>
            <button class = 'oppo' id="oppoPowerOn" onClick = "oppoButton('oppoPowerOn')">Power ON</button>
            <button class = 'oppo' id="oppoPowerOff" onClick = "oppoButton('oppoPowerOff')">Power OFF</button>
            <br>
            <button class = 'curtain' id="oppoInputHdmi" onClick = "oppoButton('oppoInputHdmi')">HDMI</button>
            <button class = 'curtain' id="oppoInputBluray" onClick = "oppoButton('oppoInputBluray')">Blu-Ray</button>
        </div>
        <div class="mainDivs" id = "jvc">
            <div class = 'heading'>This is jvc</div>
            <button class = 'jvc' id="jvcPowerOn" onClick = "jvcButton('jvcPowerOn')">Power ON</button>
            <button class = 'jvc' id="jvcPowerOff" onClick = "jvcButton('jvcPowerOff')">Power OFF</button>
            <br><br>
            <button class = 'curtain' id="jvcLensMemory1" onClick = "jvcButton('jvcLensMemory1')">Wide Screen</button>
            <button class = 'curtain' id="jvcLensMemory2" onClick = "jvcButton('jvcLensMemory2')">Normal</button>
            <button class = 'curtain' id="jvcLensMemory3" onClick = "jvcButton('jvcLensMemory3')">Other 1</button>
            <button class = 'curtain' id="jvcLensMemory4" onClick = "jvcButton('jvcLensMemory4')">Other 2</button>
            <br>
            <button class = 'curtain' id="jvcPictureMode1" onClick = "jvcButton('jvcPictureMode1')">Standard</button>
            <button class = 'curtain' id="jvcPictureMode2" onClick = "jvcButton('jvcPictureMode2')">HDR</button>
            <button class = 'curtain' id="jvcPictureMode3" onClick = "jvcButton('jvcPictureMode3')">HDR Other</button>
            <br>
            <button class = 'curtain' id="jvcCMD1" onClick = "jvcButton('jvcCMD1')">CMD 1</button>
            <button class = 'curtain' id="jvcCMD2" onClick = "jvcButton('jvcCMD2')">CMD 2</button>
            <button class = 'curtain' id="jvcCMD3" onClick = "jvcButton('jvcCMD3')">CMD 3</button>
        </div>
        <div class="mainDivs" id = "curtain">
            <div class = 'heading'> Curtain</div>
            <button class = 'curtain' id="curtainStop" onClick = "curtainButton('curtainStop')">STOP</button>
            <button class = 'curtain' id="curtain235" onClick = "curtainButton('curtain235')">2.35</button>
            <button class = 'curtain' id="curtain16_9" onClick = "curtainButton('curtain16_9')">16x9</button>
            <button class = 'curtain' id="curtain4_3" onClick = "curtainButton('curtain4_3')">4x3</button>
            <button class = 'curtain' id="curtainClose" onClick = "curtainButton('curtainClose')">CLOSE</button>
        </div>
        <div class="mainDivs" id = "lights">
            <div class = 'heading'> RGB Lights</div>
            <button class = 'curtain' id="lightsOff" onClick = "lightsButton('lightsOff')">OFF</button>
            <button class = 'curtain' id="lightsOn" onClick = "lightsButton('lightsOn')">ON</button>
            <button class = 'curtain' id="lightsPause" onClick = "lightsButton('lightsPause')">PAUSE</button>

        </div>

    </div>


</body>
</html>