#topline{
  height:15px;
  background: linear-gradient( #c6c6c6c4,whitesmoke);
  width:100%
}

#logo{
  float: left;
  height: 85px;
  margin-right: 30px;
  display: inline-block;
  margin-left:60px;
  margin-bottom: 30px;
}

#header{
  background-color: whitesmoke;
  width:100%;
}
#projectName{
  margin-top: 3px;
}

#bottomline{
  height:15px;
  background: linear-gradient(whitesmoke, #c6c6c6c4);
  width:100%
}
#name{
  font-size: 2.8em;
  font-weight: bolder;
  font-family: Helvetica, Arial,sans-serif;
  background-color: whitesmoke;

  margin-bottom:10px;
  color: #717171;
}

#copyright{
  font-size: small;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 5px;
}
body{
  height: 90%;
}
