#topline{
  height:15px;
  background: linear-gradient( #c6c6c6c4,whitesmoke);
  width:100%
}

#logo{
  float: left;
  height: 90px;
  margin-right: 30px;
  display: inline-block;
  margin-left:60px;
  margin-bottom: 30px;
  border: 2px solid   ;
  border-radius:4px;
}

#header{
  background-color: whitesmoke;
  width:100%;
}
#projectName{
  margin-top: 3px;
}

#bottomline{
  height:15px;
  background: linear-gradient(whitesmoke, #c6c6c6c4);
  width:100%
}
#name{
  font-size: 2.8em;
  font-weight: bolder;
  font-family: Helvetica, Arial,sans-serif;
  background-color: whitesmoke;

  margin-bottom:10px;
  color: #717171;
}

#copyright{
  font-size: small;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 5px;
}
body{
  height: 95%;
}

.mainDivs{
  display:inline-table;
  width:400px;
  height:220px;
  margin-top:1px;
  border: 2px solid grey;
}
.mainDivs#denon{
  width: 200px;
}

.mainDivs#oppo{
  width:140px;

}
.mainDivs#jvc{
  width:330px;

}
.mainDivs#curtain{
  width:270px;
  height:90px;
}
.mainDivs#lights{
  width:170px;
  height:90px;
}
.device {
  border-radius: 5px;
  margin-top:6px;
  background-color: darkgray;
}
.volume{
  margin-top:6px;
  border-radius: 50%;
  height:35px;
  background-color: darkgray;
}

.device:hover, .volume:hover{
  background-color: grey;
}
.device.pressed{
  background-color:  #ea2525;
}
#theater{
  width:95%;
  height:200px;
  border:3px solid;
}
.buttonGroup{
  margin-right: -5px;
  margin-top:5px;
  font-size: 1em;
  background-color: #0426a0;
  color:white;
  border: 1px solid #55ca6c;
  height:30px;
}
.buttonGroup:hover  {
  background-color: #3e8e41;
}
.buttonGroup.pressed{
  background-color: #3e8e41;
}
#denonPower, #oppoPower, #jvcPower{
  height:35px;
}

.buttonGroup1{
  margin-right: -5px;
  margin-top:5px;
  font-size:.9em;
  background-color: #0426a0;
  color:white;
  border: 1px solid #55ca6c;
  height:40px;
  width:100px;
}
.buttonGroup1:hover  {
  background-color: #3e8e41;
}
.buttonGroup1.pressed{
  background-color: #ea2525;
}
#moviePower{
  height:40px;
}

.heading{
  font-weight:bold;
  margin-top: 10px;

}
